.faded {
    opacity: 0.4;
}

.numberCircle {
    border-radius: 35%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 60px;
    height: 30px;
    background: #fff;
    border: 2px solid black;
    padding: 4px;
    color: black;
    text-align: center;
    font: 18px Arial, sans-serif;
    display: inline-block;
}