{% extends "base.html" %}
{% block nav_friends %}active{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <!-- Title -->
            <div class="row m-5">
                <div class="col-xs-3">
                    <h1>{{ title }}</h1>
                </div>
                <div class="col-3"></div>
            </div>

            <!-- Friends container -->
            <div class="row m-3">
                <div class="col-10 m-3 p-1 border">
                    <div class="col-12">
                        <div class="row p-4">
                            <!-- Friend list -->
                            <ul class="col-11 list-group">
                                {% for friend in friend_list %}
                                <div id="friend{{friend.userId}}"
                                    class="friend list-group-item
                                    list-group-item-action">
                                    <li class="row m-2">
                                        <div class="col-md-10">
                                            <h3>{{friend.forename}}
                                                {{friend.surname}}</h3>
                                        </div>
                                    </li>
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Request Title -->
            <div class="row m-5">
                <div class="col-xs-3">
                    <h1>Requests</h1>
                </div>
                <div class="col-3"></div>
            </div>

            <!-- Requests container -->
            <div class="row m-3">
                <div class="col-10 m-3 p-1 border">
                    <div class="col-12">
                        <!-- Search box -->
                        <div class="row p-4">
                            <!-- Add friend button -->
                            <a><type="button" class="btn btn-primary"
                                    id="add_friend">Add Friend</a>
                                <!-- Search friend box -->
                                <div class="input-group mb-3">
                                    <input id="search_friend"
                                        class="form-control d-none" type="text"
                                        placeholder="Friend's name">
                                    <!-- Cancel (including text for screen readers) -->
                                    <a id="search_friend_cancel"
                                        class="input-group-append d-none"
                                        aria-label="Close">
                                        <span class="input-group-text close
                                            danger" aria-hidden="true">&times;</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Suggestions list -->
                                <ul id="friend_suggestions" class="col-11
                                    list-unstyled">
                                    <!-- Suggestions will be put here using jquery in requests.js -->
                                </ul>
                            </div>
                            <ul class="row p-4 list-group">
                                <!-- Request list -->
                                {% for request in requests %}
                                <li id="request{{request['friend'].userId}}"
                                    class='col-md-12 border list-group-item'>
                                    <div class="btn">{{request['friend'].forename}}
                                        {{request['friend'].surname}}</div>
                                    <div class="accept btn btn-primary
                                        float-right rounded-0">Accept</div>
                                    <div class="decline btn btn-danger
                                        float-right rounded-0">Decline</div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Matches -->
            <div class="col-6">
                {% include "main/matches.html" %}
            </div>
        </div>
    </div>
    {% endblock %}