{% extends "base.html" %}
{% block nav_groups %}active{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <!-- Title -->
            <div class="row m-5">
                <div class="col-xs-3">
                    <h1>{{ title }}</h1>
                </div>
                <div class="col-3"></div>
            </div>

            <!-- Add Group -->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <a class="btn btn-primary mb-3"
                        id="create_group" role="button">Create Group
                    </a>
                    <!-- Search friend box -->
                    <div id="input_container" class="row d-none">
                        <div class="col-12">
                            <div class="input-group row">
                                <input id="input_box"
                                    class="form-control" type="text"
                                    placeholder="Groups's name">
                                <!-- Cancel (including text for screen readers) -->
                                <a id="input_cancel"
                                    class="input-group-append"
                                    aria-label="Close">
                                    <span class="input-group-text close
                                        danger" aria-hidden="true">&times;
                                    </span>
                                </a>
                            </div>
                            <!-- Submit create group -->
                            <div class="row">
                                <a id="input_submit" class="col-3 btn
                                    btn-primary
                                    form-control
                                    mt-3
                                    disabled"
                                    role="button">Create
                                </a>
                                <p id="input_error" class="col-9
                                    text-danger text-center mt-3">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Groups container -->
            <div class="row m-3">
                <div class="col-10 m-3 p-1">
                    <div class="col-12">
                        <div class="row p-4">
                            <!-- Groups list -->
                            <ul class="col-11 list-group">
                                {% for group in group_list %}
                                <div id="group{{group.groupId}}" class="group
                                    list-group-item
                                    list-group-item-action">
                                    <li class="row m-2">
                                        <div class="col-md-12">
                                            <h3 class="row group_name">{{group.name}}
                                            </h3>
                                            <div class="row mt-3">
                                                {% for member in group.members
                                                %}
                                                {{member.forename}}
                                                {% endfor %}
                                            </div>
                                            <div class="row mt-2 hover d-none">
                                                <a id="add{{loop.index}}"
                                                    class="col-2 btn
                                                    btn-info m-2 add">
                                                    Add
                                                </a>
                                                <a class="col-2 btn
                                                    btn-warning m-2 edit">
                                                    Edit
                                                </a>
                                                <a class="col-2 btn
                                                    btn-danger m-2 leave">
                                                    Leave
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Matches -->
        <div class="col-6">
            {% include "main/matches.html" %}
        </div>
    </div>
</div>
{% endblock %}