{% extends "base.html" %}
{% block nav_groups %}active{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <!-- Title -->
            <div class="row m-5">
                <div class="col-xs-3">
                    <h1>{{ title }}</h1>
                </div>
                <div class="col-3"></div>
            </div>

            <!-- Groups container -->
            <div class="row m-3">
                <div class="col-10 m-3 p-1 border">
                    <div class="col-12">
                        <div class="row p-4">
                            <!-- Groups list -->
                            <ul class="col-11 list-unstyled">
                                {% for group in group_list %}
                                <div class="friend">
                                    <li class="row m-2">
                                        <div class="col-md-10 border">
                                            <p>{{group.name}}</p>
                                        </div>
                                    </li>
                                    <!-- Match on hover -->
                                    <div class="row hiddenpanel d-none">
                                        <div class="col-1"></div>
                                        <a class="col-md-8 btn btn-primary" href="#">Match</a>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Matches -->
        <div class="col-6">
            {% include "main/matches.html" %}
        </div>
    </div>
</div>
{% endblock %}