{% extends "base.html" %}
{% block nav_movies %}active{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Title -->
            <div class="row m-5">
                <div class="col-12 text-center">
                    <h1>{{ title }}</h1>
                </div>
            </div>

            <!-- Movies container -->
            <div class="row">
                <div class="col-10 m-3 p-1">
                    <div class="col-12">
                        <div class="row p-4">
                            <!-- Movie list yes -->
                            <div class="col-md-6 mt-3">
                                <div class="row mb-2">
                                    <div class="col-5"></div>
                                    <h3 class="col-2">Yes</h3>
                                </div>
                                <div class="row">
                                    <div class="col-12 mx-auto">
                                        <ul class="list-group list-unstyled">
                                            {% for movie in movies_yes %}
                                            <div class="list-group-item
                                                list-group-item-action
                                                list-group-item-success">
                                                <li class="row-m2 text-center">
                                                    <h4>{{movie.name}}</h4>
                                                    <p>({{movie.releasedate.year}})</p>
                                                </li>
                                            </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Movie list maybe -->
                            <div class="col-md-6 mt-3">
                                <div class="row mb-2">
                                    <div class="col-5"></div>
                                    <h3 class="col-2">Maybe</h3>
                                </div>
                                <div class="row">
                                    <div class="col-12 mx-auto">
                                        <ul class="list-group
                                            list-unstyled">
                                            {% for movie in movies_maybe %}
                                            <div class="list-group-item
                                                list-group-item-action
                                                list-group-item-warning">
                                                <li class="row-m2 text-center">
                                                    <h4>{{movie.name}}</h4>
                                                    <p>({{movie.releasedate.year}})</p>
                                                </li>
                                            </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}