{% extends "base.html" %}
{% block nav_matcher %}active{% endblock %}
{% block content %}

<div class="container-fluid">
    <!-- Title -->
    <div class="row my-5">
        <div class="col text-center">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <!-- Movie Picking container -->
    <div class="row m-3">
        <div class="col m-3 p-1">
            <!-- Start movie list -->
            <div id="movie-picker-btn" class="row p-4">
                <div class="col text-center">
                    <a class="btn btn-success">Create
                        your movie
                        list
                    </a>
                </div>
            </div>
            <div id="movie-picker" class="row p-4 d-none">
                <!-- Movie Pick -->
                <div class="col">
                    <div class="row mb-5">
                        <div class="text-center col-12">
                            <h1 id="movie-name">Name</h1>
                            <h3 id="movie-date">Date</h3>
                        </div>
                    </div>
                    <!-- Options -->
                    <div class="row">
                        <div class="col-3"></div>
                        <a id="yes" class="decision col-md-2 btn mx-1
                            btn-primary">Yes</a>
                        <a id="maybe" class="decision col-md-2 btn mx-1
                            btn-warning">Maybe</a>
                        <a id="no" class="decision col-md-2 mx-1 btn
                            btn-danger">No</a>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}