{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

  <!-- Title -->
  <div class="row mt-5">
    <div class="col-xs-1">
      <img class="img-responsive" height="100px" src="/static/logo.png" alt="Logo">
    </div>
    <h1 class="col-3 mt-3">Welcome back{%if user%} {{user.forename}}{%endif%}!</h1>
  </div>

  <!-- Welcome text -->
  <div class="row m-3">
    <div class="col-6">
      <h2>This is your intelligent movie matching service</h2>
      <p>Get together with your pals and chill</p>
      <p>Forget the endless searching!</p>
    </div>
  </div>

  <!-- Sign up / Login -->
  {% if not signed_in %}
  <p>
    <a href="{{ url_for('auth.login') }}">
      <input type="button" class="btn btn-secondary" value="Log In">
      </a>
    <a href="{{ url_for('auth.register') }}">
    <input type="button" class="btn btn-primary" value="Sign Up">
    </a>
  </p>
  {% endif %}

  <hr>

</div>
{% endblock %}